.char-layout {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
  min-height: 100vh;
  width: 100%;

  &--icon {
    padding: 1.25rem;
    cursor: pointer;
    svg {
      width: 2.5rem;
      height: 1.5rem;
      position: fixed;
    }
  }

  &--loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
